body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./image/Background.webp);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  background: transparent;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 400px;
  transition: 0.3s;
}
#container:hover{
      transform: scale(1.03);
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
}

input {
  width: 60%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  font-size: 16px;
}

#generate {
  padding: 12px 25px;
  background: #ff6f61;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.4s;
}

#generate:hover {
  background: #25ca72;
}

#result {
  margin-top: 30px;
  font-size: 18px;
  color: #444;
}

td {
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
}